@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Привет %username%, мы рады видеть тебя на нашем сайте. Здесь ты можешь посмотреть историю цен на товары с разных интернет-магазинов (citilink, enter, dns, mvideo etc).
   Удачи и выгодных покупок :)</p>
<blockquote class="pull-right">
    <p>Счастье всем, и пусть никто не уйдёт обиженным.</p>
</blockquote>