@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Message</h2>

<address>
    Автор: Матюшин Николай
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:dolphinn@bk.ru">dolphinn@bk.ru</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/Dolfik1/" target="_blank">https://github.com/Dolfik1/</a>
</address>